# Python for Beginners: Peer-Learning Kick-off
### by Rafsan Ahmed

![](https://drive.google.com/uc?export=view&id=1XTHh451d04cwlLUYABFCg7LYDPjxZI4C)

# Python?
Python is a simple but powerful programming language that can be used to do almost anything. 


<img src="https://drive.google.com/uc?export=view&id=1V-kad_Mq8HCCvmDlhyohQvg2eY6zr0cH" width="500">  
<sub><sup><sub><sup>¬©www.javatpoint.com</sup></sub></sup></sub>

Python is...

*   Very popular for data science.
*   Used by companies like Google, Facebook, Instagram, Spotify etc...
*   Has Packages that you can use.

Packages are one of the best features of python. These are blocks of code people wrote and made available for others. Just like your Amazon package, which also uses python, you can reuse these packages freely.

For example, if you want to work with some data analysis and make cool tables, you can use the "pandas" package üêº

# Then what is Colab?
Colab is developed by Google to do machine learning stuff online.  

You can run python on Colab, but you can also simply install it on your computer.

In Colab, you can write code, press "shift + enter" and see results immidiately!

# Part 1: Let's start out by writing your first python code
### Type in 
```
print('Hello World')
```

Then press shift+enter or clock the play button on the left of the cell. This executes the code in google colab.

In [1]:
# This is a coding cell. Write your code below this line
print("Hello World!")

Hello World!

### Yayy! You have written and ran your first code. Remember the keyword **"print"**

### Let's try to print something else. Let's print a number

In [2]:
# Write your code below this line
print(5)

5

So, we can use the print function and print anything we want.  
With python you can also add things.  
Let's try adding two numbers 5 and 3

In [3]:
# write your code below this line
print(5 + 3)

8

### How about some other math operation? Like multiplication?  
*  For multiplication we use the symbol "*" (star)  
*  Similarly, for division we can use the symbol "/" (slash?)

Let's try multiplying 5 and 3

In [4]:
# write your code below this line
print(5 * 3)

15

Let's try division then. Let's divide 100 by 5

In [5]:
# write your code below this line
print(100 / 5)

20.0

## Awesome! We just finished our first part!

To summerize, we learned the following:

*   How to print something in python and get a result.
*   How to use math operations.

We will take a 2 minute break. You can ask your questions now!



---


---

# Part 2: Now let's declare some variables...
In python, you can pick letters or words and assign stuff to them.

For example, we can write

```
x = 10
```

Once we code this, the letter x will keep the value of 10.

Let's try this out then. Let's put the number 10 to x and the number 5 to y.

In [6]:
# write your code below this line
x = 10
y = 5

Let's check the results

In [7]:
# write your code below this line: check the value of x
print(x)

10

In [8]:
# write your code below this line: check the value of y
print(y)

5

Now let's add them just like we did before.

In [9]:
# Write your code to add x + y below this line
print(x + y)

15

If you want to change the value of a x to another number, say 100, you can do the same thing again

In [10]:
# write your code in the line below
x = 100
print(x + y)

105

### What we just did is called **variable assignment or declaration**. 
Fancy term but this is just simple algebra like before.

You can pick the name of the variables freely. For example, you can give them the name of fruits, if we want to add their prices.

Let's say we have:


*   Apples for 2.5 dollars per kilo
*   Oranges for 3.2 dollars per kilo and
*   Watermelon for 1.0 dollars per kilo


Let's calculate the cost for shopping 5 kilos of apples, 2 kilos of oranges and a 5 kilo watermelon.

### How do we do this?

Let's first try declaring a variable "apple" and assign it the price

In [11]:
# Now we are in a coding cell. Let's start by declaring the price for apple
apple = 2.5

Did it work correctly? You can test if the code ran correctly by printing a variable.

In [12]:
# write your code in the line below
print(apple)

2.5

Great! Let's assign the other two variables then.

In [13]:
# write your code in the line below
orange = 3.2
watermelon = 1.0

Now let's create a new variable to calculate the total cost of 5 kilos of apples, 2 kilos of oranges and a 5 kilo watermelon:

In [14]:
# Now let's calculate the total cost
total_cost = apple * 5 + orange * 2 + watermelon * 5
print(total_cost)

23.9

## The practice is done. Let's test your knowledge, shall we?

Let's do something useful. You will calculate the area rectangles

<img src="https://drive.google.com/uc?export=view&id=1UvNpBYTU9UUDtAeijlFnrVQIPgDiT-Mw" width="500">  
<sub><sup><sub><sup>¬©www.mathswithmum.com</sup></sub></sup></sub>

We know that the area is simply base x height

So, for this rectangle, the area will be 9 x 4 = 36

### Now, let's say you have two rectangles

For the first rectangle:

*   Base is 5
*   Height is 10

And for the second rectangle:

*   Base is 3
*   Height is 2

Calculate the total area of the two rectangles

In [15]:
# write your code in the line below.
# declare your variables first
base1 = 5
height1 = 10

area1 = base1 * height1

base2 = 3
height2 = 2

area2 = base2 * height2


# then use the formula for area to calculate the total_area of two rectangles
total_area = area1 + area2
print(total_area)

56

# PERFECT! 
### This is basically what you learn in your first day of python class!


To summerize, we learned the following:

*   How to use variables
*   How to use math operations with variables
*   Write your own code using variables

We will do some Q&A then take a coffee break üòÉ

---

---

# Part 3: Strings and more!
Just like numbers, we can declare characters like 'a', 'b', 'c' or  
string of characters (string in short) like "Hello World!" or "This is a very interesting course!"

String == text

For strings we always use quotations " "  

Let's try this by declaring a simple string variable:

In [18]:
# Write your greeting code below
greeting = "Hello World!"
print(greeting)

Hello World!

Try it yourself:

In [19]:
# Write down a message and print it below üòÉ
message = "Merry Christmas!"
print(message)

Merry Christmas!

When we add two numbers, we get a sum.

So what happens when we add two strings?

Let's use two words "apple" and "orange" and add them together

In [20]:
# write down your code below
print("apple" + "orange")

appleorange

Interesting... what if we add string and a number?

Let's try adding the word "Pear" and the number 4

In [21]:
# write your code below
print("pear" + 4)

TypeError: ignored

So, as you may have noticed, different variables have different types.
Sometimes, different types of variables cannot be added.

* 1, 2, 3 are whole numbers and called integers (int for short)
* 1.3, 2.5, 3.6666666... are floating point numbers (float for short)
* "This seems kinda sus" is a string.

## Then how can we add a number and a string together?
we can convert a number to string and vice versa  

* To convert anything to a string we can use the function str()
* To convert a string to an integer we can use the function int()


Let's see the same example with "Pear" and number 4

In [22]:
# Write your code below
print("pear" + str(4) )

pear4

In [24]:
# write your code below
print(int("100") + 4)

104

### Now try it yourself
add the numbers 3 and "10". Both as numbers.

In [25]:
# write your code below
num1 = 3
string1 = "10"

print(num1 + int(string1))

13

In [27]:
num1 = 10
print("10")

10

Now let's try adding them as strings

In [28]:
# write your code below
num1 = 3
string1 = "10"

print(str(num1) + string1)

310

### That's it. That's the end of part 3!

To summerize, we learned the following:

*   How to use strings
*   How to add strings
*   Different data types
*   Write your convert strings to integers and vice versa

Let's have a small Q&A and take a break



---

---

# Part 4: Functions!

When we used codes like:

* print()
* str()
* int()

These are functions.


So what is a function?  
It is a chunk of reusable code that does something. It takes an input, processes it then gives us an output

<img src="https://drive.google.com/uc?export=view&id=1rHeodA2SSWs35xBVo0m-ghOCiK2UpjnE" width="300">

Let me introduce you to a new function called 
* input()

It asks the user to enter a value and stores the value as a string

In [30]:
# Let's declare a variable name using this input function
name = input("Enter name: ")
print("hello " + name)

Enter name: tish
hello tish

Pretty cool right? This means that, now you know how to ask a user for something.   

Try it yourself. Using the input function, ask for a name, for example: Bart

and print "Bart is a student at Lund University"

In [31]:
# Write your code below:
name = input("Enter your name: ")
print(name + " is a student at Lund University")

Enter your name: Bart
Bart is a student at Lund University

Now let's use the input function to get two numbers from the user and add them

In [35]:
# write your code below
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
print(int(num1) + float(num2))

Enter the first number: 10
Enter the second number: 5.5
15.5

Great! Now let's create our own function.  

A function can be defined using the keyword "def"


```
def function_name(the_input):
    do something with the input
    return the_output
```


To receive an output from the function, we will use a keyword **"return"**


Now, lets write something that lets us add two numbers 10 and 15

In [36]:
# You already know how to add two numbers
total = 10 + 15
print(total)

25

In [2]:
# Let's create a function "add" below

def add(a, b):
  print(a + b)

In [3]:
add(5,3)

8

In [40]:
def add2 (a, b):
  return a + b

In [42]:
total = add2(5,3)
print(total)

8

Let's use the function to add two numbers

In [45]:
# write your code below
num1 = 10
num2 = 15

add(num1, num2)

25

Let's change the numbers to 100 and 200

In [46]:
# write your code below
num1 = 100
num2 = 200

add(num1, num2)

300

### Great! Let's try this again. 
Let's calculate the product of two numbers 5 and 3

In [ ]:
# First let's see how we can get the product of two numbers in a simple way
# Let's say the numbers are 5 and 3
product = 5 * 3
print(product)

Now define a function called calc_product  

Again, we define a function using the keyword "def"

In [47]:
# write your code below

def calc_product(a,b):
  
  product = a * b
  return product

Use the function to get the product of two numbers 5 and 3

In [48]:
# write your code below
calc_product (5,3)

15

Now use the same function to get the product of different numbers, say 50 and 40

In [49]:
# write your code below
calc_product(50,40)

2000

Now as our final excercise, let's write a function called "intro" where you enter your name and the country you are from. Then it prints out a message like:  
```
"Hi! My name is Anna. I am from Finland."
```

In [50]:
# Define your function below
def intro(name, country):
  # enter code here
  return "Hi! My name is " + name + ". I am from " + country + "."

In [51]:
# Execute the code below to print the message. use input() to get values from user
name = input("Enter your name: ")
country = input("Enter your country: ")

message = intro(name, country)
print(message)

Enter your name: Rafsan
Enter your country: Bangladesh
Hi! My name is Rafsan. I am from Bangladesh.

# Great!

# We are done with our intro!

To summerize, we learned the following:

*   What is a function
*   How to use the input function
*   How to create your own function

# A mini game!
It takes 5 minutes to make. Once you are done with the course, you can make it too!

<img src="https://drive.google.com/uc?export=view&id=1mRvZi8MKmDnbMV5Vv_4gXM_-wZtN0XXl" width="400">

Here are the steps for the game:

1. The computer chooses a random number.
2. We make a guess and enter the number.
3. If we guess right, we WIN!!
4. If we guess wrong, the computer tells us if our guess is higher or lower. We can then guess again.
5. We get 6 tries.

In [52]:
# Let the computer choose a random number between 1 and 50
import random
computer_num = random.randint(1,50)

number_of_tries = 0
win = False

while number_of_tries < 6:

  player_num = input("Take a guess between 1 and 50: ")
  player_num = int(player_num)

  number_of_tries += 1
  if player_num == computer_num:
    print("YAYY! You WON!")
    win = True
    break

  if player_num < computer_num:
    print("Your guess is too low.")

  if player_num > computer_num:
    print("Your guess is too high")


if win == True:
  print("You tried", number_of_tries, 'times')
else:
  print("You tried", number_of_tries, 'times. You LOST!')

Take a guess between 1 and 50: 25
Your guess is too high
Take a guess between 1 and 50: 20
Your guess is too high
Take a guess between 1 and 50: 10
Your guess is too high
Take a guess between 1 and 50: 5
Your guess is too high
Take a guess between 1 and 50: 2
YAYY! You WON!
You tried 5 times

<img src="https://drive.google.com/uc?export=view&id=1bMafohbyz3njf_PpcyrmYXiP-pKAysID" width="400">  
<sub><sup><sub><sup>¬©southpark</sup></sub></sup></sub>